<div class="flex justify-center bg-black py-4">
  <div class="text-2xl text-white space-x-8">
    <%= link_to "Privacy", "/privacy", class: "px-4" %>
    <%= link_to "Term", "/term", class: "px-4" %>
    <%= link_to "Contact", "/contacts/new", class: "px-4" %>
  </div>
</div>
