<div class="relative bg-black">
  <!-- ハンバーガーメニューアイコン -->
  <button id="hamburger-icon" class="flex flex-col gap-1.5 p-2 cursor-pointer">
    <span class="w-8 h-0.5 bg-white"></span>
    <span class="w-8 h-0.5 bg-white"></span>
    <span class="w-8 h-0.5 bg-white"></span>
  </button>

  <!-- モーダルオーバーレイ -->
  <div id="overlay" class="fixed inset-0 bg-white bg-opacity-50 hidden"></div>

  <!-- メニュードロップダウン（左からスライド）-->
  <nav id="hamburger-dropdown" class="absolute top-0 left-0 h-screen w-48 bg-white shadow-lg p-6 transform -translate-x-full transition-transform duration-300">
    <ul>
      <li><%= link_to 'Dashboard', dashboard_path, class: 'block px-4 py-2 text-black hover:bg-gray-700' %></li>
      <li><%= link_to 'Tasks', tasks_path, class: 'block px-4 py-2 text-black hover:bg-gray-700' %></li>
      <li class="relative">
        <button id="missions-menu" class="block w-full text-left px-4 py-2 text-black hover:bg-gray-700">
          Missions
        </button>
        <!-- Missions プルダウンメニュー -->
        <div id="missions-dropdown" class="absolute left-full top-0 mt-2 w-40 bg-white shadow-lg rounded-lg hidden">
          <ul>
            <li><%= link_to 'Create', new_mission_path, class: 'block px-4 py-2 text-black hover:bg-gray-700' %></li>
            <li><%= link_to 'Index', missions_path, class: 'block px-4 py-2 text-black hover:bg-gray-700' %></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
