<p>Welcome <%= @resource.name || @resource.email %>!</p>
<p>Click the link below to confirm your account:</p>

<p>
  <a href="<%= "#{Rails.application.config.confirm_success_url}?confirmation_token=#{@token}" %>">Confirm my account</a>
</p>
